.SignUp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url(../../Assets/test2.jpg);
    background-color: #121214;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    overflow:hidden;
    filter: invert(0%) sepia(4%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(80%);
}

.SignUp-logo img {
    width: 434px;
    height: 432px;
    clip-path: polygon(26% 0, 100% 0, 100% 100%, 0% 120%);
}


.SignUp-right img {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    width: 80px;
    position: absolute;
    left: 58%;
    top:  23.3%;
    margin-left: -110px;
    margin-top: -40px;
    margin-bottom: 20px;
}


.SignUp-right {
    background-color: #ffffff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    width: 500px;
    height: 500px;


}

.SignUp-right h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    color: #1D4D16;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 35px;
}

.SignUp-right h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #121214;
    text-align: left;
}

.SignUp-SignUpInputEmail {
    display: flex;
    align-items: center;
    color: #1D4D16;
    background-color: #f9f9f9;
    border-radius: 15px;
    border-color: #1D4D16;
    border-style: solid;
    padding: 3px;
    width: 88%;
    height: 50px;
    margin-bottom: 3%;
    border-width: medium;


}

.SignUp-SignUpInputEmail svg {
    margin-left: 10px;
    font-size: 25px;

}

.SignUp-SignUpInputEmail input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #121214;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
      border-width: medium;
}


.SignUp-SignUpInputPassword {
    display: flex;
    align-items: center;
    color: #1D4D16;
    background-color: #f9f9f9;
    border-radius: 3px;
    border-color: #1D4D16;
    border-style: solid;
    border-width: medium;
    padding: 3px;
    margin: 5px;
    width: 88%;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 3%;
    font-family: Arial, Helvetica, sans-serif;

}

.SignUp-SignUpInputPassword svg {
    margin-left: 10px;
    font-size: 25px;
}

.SignUp-SignUpInputPassword input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #121214;
    border: none;
    font-size: 17px;
    margin-left: 12px;
    margin-right: 10px;
}

.SignUp-right button {
    width: 88%;
    background-color: #1D4D16;
    color: #EFF2F5;
    font-weight: 800;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 8px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    outline-width: 0;
}

.SignUp-right button:hover {
    background-color: #1D5900;
    color: #EFF2F5;
    cursor: pointer;

}

.SignUp-eye {
    align-items: center;
    justify-content: center;
    font-size: 30;
    cursor: pointer;
    margin-right: 10px;
}


/* 
     NÃO ESCREVER MAIS -> NENHUM <- CSS AQUI, AO INVÉS USE CSS EM MÓDULOS

     Dentro da pasta do componente/página, crie um arquivo chamado:
     styles.module.css. Dentro do componente importe dessa forma
     import styles from "./styles.module.css";

     Assim o css de um componente/página não corre o risco de entrar 
     em conflito com outros, além de organizar melhor os estilos

*/